
:root {
    --dark: #222831;
    --light-dark: #393E46;
    --light-light: #948979;
    --light: #DFD0B8;
}

/* :root {
    --dark: #1B211A;
    --light-dark: #628141;
    --light-light: #8BAE66;
    --light: #EBD5AB;   
} */
body{
    color: var(--light);
    background-color: var(--dark);
}
.main-heading{
    height: fit-content;
    font-size: 2rem;
    color: transparent;
    display: flex;  
    justify-content: center;
    align-items: center;
    background-clip: text;
    flex-direction: column;
    background-image: linear-gradient(90deg,rgba(42, 123, 155, 1) 0%, rgba(87, 199, 133, 1) 28%, rgba(196, 53, 53, 1) 48%, rgba(215, 219, 89, 1) 70%, rgba(255, 229, 0, 1) 100%);;
    /* background-image: linear-gradient(90deg,rgba(42, 123, 155, 1) 0%, rgba(87, 199, 133, 1) 42%, rgba(237, 221, 83, 1) 100%); */
}
.main-heading h1{
    margin: 0;
    padding: 0;
}
.main-heading p {
    margin: 0;
    padding: 0;
    font-size: 1rem;
}
.subdomain-tree{
    border: 1px red solid;
    width: 50%;
}
.subdomain-tree ul{
    font-size: 1.1rem;
    list-style-type: '- ';
}
.no-marked ul{
    list-style-type: '';
}